<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planetmovieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Welcome to MoviePlanet!"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".AdministrationActivities.AdminLoginActivity"
            android:label="Administration Login"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdministrationActivities.AdministrationActivity"
            android:label="Administration screen"
            android:launchMode="singleTop"
            android:parentActivityName=".AdministrationActivities.AdminLoginActivity" />
        <activity
            android:name=".AdministrationActivities.AddMovieActivity"
            android:label="Add movie to database"
            android:launchMode="singleTop"
            android:parentActivityName=".AdministrationActivities.AdministrationActivity" />
        <activity
            android:name=".Activities.DetailedMovieActivity"
            android:label="Movie details"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activities.SelectSeatsActivity"
            android:label="Select seats"
            android:parentActivityName=".Activities.DetailedMovieActivity" />
        <activity
            android:name=".Activities.OrderDetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register new account"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".AdministrationActivities.AddShowTime"
            android:label="Add show time"
            android:parentActivityName=".AdministrationActivities.AdministrationActivity" />
        <activity
            android:name=".AdministrationActivities.AddHallActivity"
            android:label="Add hall"
            android:parentActivityName=".AdministrationActivities.AdministrationActivity" />
        <activity
            android:name=".AdministrationActivities.GetStatisticsActivity"
            android:label="Statistics"
            android:parentActivityName=".AdministrationActivities.AdministrationActivity"
            />
        <activity
            android:name=".AdministrationActivities.ShowStatisticsResult"
            android:label="Show statistics"
            android:parentActivityName=".AdministrationActivities.GetStatisticsActivity"
            />
    </application>

</manifest>